@import bootstrap-compass
@import bootstrap-variables
@import bootstrap

@mixin pixelate
  image-rendering: -moz-crisp-edges
  image-rendering: -o-crisp-edges
  image-rendering: -webkit-optimize-contrast
  image-rendering: crisp-edges
  -ms-interpolation-mode: nearest-neighbor

body
  font-family: "freight-sans-pro", sans-serif

h1
  font-weight: 900

h1 small, .btn-download
  font-weight: 700

.screenshot
  @include pixelate
  border: 1px solid black
  margin-top: 20px

footer
  height: 20px
  font-size: 16px

  .glyphicon
    font-size: 0.8em

  a
    font-weight: 700
